html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --dark-grey: #272a31;
  --orange-color: #ec5242;
  --light-grey: #d3d3d3;
  --crete-round: 'COCOGOOSE', sans-serif;
  --lato: "Lato", sans-serif;
  --debug-border: 1px solid red;
}

body {
  overflow-x: hidden;
  margin: 0;
  box-sizing: content-box;
}

header {
  margin-top: -16px;
  background-repeat: no-repeat;
  background-image: url(./assets/backgrnd.png);
}

.upper-header {
  display: none;
}

.desktop-nav {
  display: none;
}

.list {
  list-style: none;
}

nav {
  display: flex;
  width: -webkit-fill-available;
  padding-left: 1em;
  padding-right: 3em;
}

nav ul {
  list-style: none;
}

#logo {
  height: 3em;
  padding: 9px;
}

#hamburger {
  margin-top: 0.8em;
  height: 2em;
  margin-left: -1em;
}

.mobile-menu {
  visibility: none;
  width: 0;
  height: 0;
  transform: translate(100vw, 0);
  transition: 0.5s;
}

.mobile-menu.active {
  visibility: visible;
  position: fixed;
  transform: translate(0, 0);
  background: var(--dark-grey);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.list3 {
  padding-top: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-decoration: none;
}

.mobile-nav a {
  text-decoration: none;
  color: #fff5e1;
  font-family: var(--lato);
  font-size: 20px;
}

#close {
  text-align-last: right;
  padding-right: 2em;
  padding-bottom: 3em;
}

.home {
  background-repeat: no-repeat;
  background-image: url(./assets/backgrnd.png);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#about-logo {
  height: 6.1em;
}

.home h3 {
  font-family: var(--lato);
  font-weight: 500;
  font-size: x-large;
  color: var(--orange-color);
  margin-bottom: 0;
}

.home h1 {
  color: var(--orange-color);
  font-family: var(--crete-round);
  font-size: 33px;
  margin: 0;
}

.home h2 {
  font-family: var(--crete-round);
  color: var(--dark-grey);
  font-weight: 100;
  letter-spacing: -1px;
  margin: 0;
}

#h2span {
  color: var(--orange-color);
}

#p2 {
  text-transform: capitalize;
  color: var(--dark-grey);
  margin: 0;
  font-family: var(--lato);
  margin-bottom: 3em;
  font-weight: 600;
}

#p1 {
  border: 2px solid rgb(211, 211, 211, 0.8);
  font-family: var(--lato);
  font-size: small;
  font-weight: 500;
  color: var(--dark-grey);
  margin: 0;
  margin-bottom: 1em;
  padding: 3px;
  margin-top: 1em;
  background-color: rgb(211, 211, 211, 0.5);
}

#p1b {
  border: 1px solid #d3d3d3;
  font-family: var(--lato);
  font-size: small;
  font-weight: 500;
  color: var(--dark-grey);
  margin: 0;
  margin-bottom: 1em;
  padding: 3px;
  margin-top: 1em;
  background: rgb(211, 211, 211, 0.6);
}

#p2b {
  font-family: var(--lato);
  font-size: small;
  font-weight: 500;
  color: var(--dark-grey);
  text-align: center;
}

.divider span {
  color: var(--orange-color);
  padding: 0 0.3em;
  letter-spacing: -1px;
  font-size: xx-large;
}

#p2b span {
  font-weight: 600;
  text-decoration: underline;
}

.program {
  background-image: url(./assets/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-self: stretch;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program h3 {
  margin: 0;
  color: var(--light-grey);
  font-family: var(--lato);
  font-weight: 500;
}

hr {
  width: 12%;
  border: 0 solid #ec5242;
  border-bottom: 1px solid #ec5242;
}

.program-list ul {
  list-style: none;
  background-color: var(--dark-grey);
  display: grid;
  grid-template-columns: 3em 5em auto;
  align-items: center;
  padding: 1em;
  font-family: var(--lato);
}

.program-head {
  color: var(--orange-color);
  font-weight: 600;
}

.program-body {
  color: var(--light-grey);
  font-size: 12px;
}

.program-list img {
  height: 2em;
}

.bottom {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.divider {
  background-image: url(./assets/last-section-1.jpg);
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  margin-bottom: 15px;
  text-align: -webkit-center;
}

.divider h1 {
  padding: 20px;
  color: var(--light-grey);
  font-family: var(--lato);
  font-size: large;
}

.article-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-bottom: 0;
}

.article-container h2 {
  color: var(--dark-grey);
  font-family: var(--lato);
}

.article-container h3 {
  color: var(--dark-grey);
  font-family: var(--lato);
  font-size: initial;
  font-weight: normal;
}

.article-container p {
  color: var(--dark-grey);
  font-family: var(--lato);
  font-size: 14px;
}

.footer-top {
  background-color: var(--dark-grey);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top h3 {
  margin: 0;
  color: var(--light-grey);
  font-family: var(--lato);
  font-weight: 500;
}

.sponsors {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.sponsors img {
  height: 2em;
  padding: 0 1em;
  padding-top: 1em;
}

footer {
  margin-bottom: 4em;
}

.footer-bottom {
  display: flex;
  padding: 1em;
  align-items: center;
}

.footer-bottom h2 {
  font-family: var(--lato);
  font-size: 1em;
  padding: 0;
  margin: 0;
  padding-right: 5em;
}

.footer-bottom p {
  font-family: var(--lato);
  font-size: 12px;
  margin: 0;
  padding: 2px;
}

h3.main-title {
  text-align: center;
  font-family: var(--lato);
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  color: var(--dark-grey);
}

hr.artists-line {
  margin-bottom: 50px;
}

ul.artist-parts {
  display: flex;
  padding: 0;
  margin-left: -15px;
  margin-bottom: 3em;
}

img.artist-pic {
  height: 7em;
}

ul.artist-details {
  padding-left: 10px;
}

.performers li {
  list-style: none;
}

li.artist-name {
  font-family: var(--lato);
  font-weight: 800;
  color: var(--dark-grey);
}

li.artist-title {
  color: var(--orange-color);
  font-size: 14px;
  font-family: var(--lato);
  font-style: italic;
  font-weight: 600;
  padding-top: 5px;
}

hr.artist-line {
  margin: 10px 0;
}

li.artist-description {
  font-family: var(--lato);
  font-size: 12px;
}

.desktop-only {
  display: none;
}

.btn-more {
  padding: 20px;
  width: -webkit-fill-available;
  margin: 1em 15px;
  border: 2px solid rgb(211, 211, 211, 0.8);
  margin-bottom: 5em;
  cursor: pointer;
  font-family: var(--lato);
  font-size: medium;
}

.desktop-p {
  display: none;
}

.button-mob {
  padding: 27px;
  width: -webkit-fill-available;
  margin: 15px 15px;
  cursor: pointer;
  font-family: var(--lato);
  font-size: large;
  background-color: var(--orange-color);
  color: var(--light-grey);
  border: none;
}

.sum-head h2 {
  font-family: var(--lato);
  color: var(--dark-grey);
  font-size: larger;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
}

.sum-head,
.sum-body,
.pic-p1,
.pic-p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sum-head p {
  font-family: var(--lato);
  color: var(--dark-grey);
  font-size: smaller;
  width: 70%;
  text-align: center;
}

#sum-logo {
  width: 60%;
  border: 1px solid rgb(211, 211, 211, 0.8);
  padding: 1em 3em;
}

.sum-body h2 {
  font-family: var(--lato);
  color: var(--dark-grey);
  font-size: larger;
  text-align: center;
  margin-bottom: 0;
}

.sum-body p {
  font-family: var(--lato);
  color: var(--dark-grey);
  font-size: smaller;
  width: 80%;
  text-align: center;
}

.pic-p1 {
  background-image: url(./assets/TE14.webp);
  width: 20em;
  height: 15em;
  background-size: cover;
  background-color: rgb(73, 27, 6, 0.8);
  background-blend-mode: overlay;
  margin: 1em;
}

.pic-p1 h3 {
  color: var(--light-grey);
  font-size: 40px;
  font-family: var(--lato);
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  margin-top: 42px;
}

.pic-p1 p {
  color: var(--light-grey);
  font-size: 17px;
  font-family: var(--lato);
  font-weight: 600;
}

.pic-p2 {
  background-image: url(./assets/The-Experience-20200-lagos.jpg);
  width: 20em;
  height: 15em;
  background-size: cover;
  background-color: rgb(73, 27, 6);
  background-blend-mode: overlay;
  margin: 1em;
}

.pic-p2 h3 {
  color: var(--light-grey);
  font-size: 40px;
  font-family: var(--lato);
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  margin-top: 42px;
}

.pic-p2 p {
  color: var(--light-grey);
  font-size: 17px;
  font-family: var(--lato);
  font-weight: 600;
}

hr#linnn {
  width: -webkit-fill-available;
  border: 0 solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin: 2em 0;
}

@media screen and (min-width: 768px) {
  .upper-header {
    display: flex;
    background-color: var(--dark-grey);
    position: fixed;
    flex-direction: row;
    justify-content: right;
    width: -webkit-fill-available;
    height: 2em;
    align-items: center;
  }

  .header-top-img {
    height: 16px;
    padding-top: 11px;
  }

  nav {
    margin-top: 2em;
    background-color: white;
  }

  #logo {
    padding-left: 3em;
  }

  .list1 {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 6em;
  }

  .list2 {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    width: -webkit-fill-available;
  }

  .list2 a {
    text-decoration: none;
    color: var(--dark-grey);
    font-family: var(--lato);
    font-size: 12px;
  }

  .list2 button {
    color: var(--orange-color);
    background: border-box;
    border: 4px solid #ec5242;
    width: max-content;
    padding: 10px;
  }

  .list1 li {
    padding-right: 1em;
    font-family: var(--lato);
    font-size: 11px;
    color: var(--light-grey);
    font-weight: 600;
  }

  .desktop-nav {
    display: block;
    padding-right: 4em;
  }

  #hamburger {
    display: none;
  }

  .home h3 {
    font-size: 38px;
  }

  #about-logo {
    height: 13em;
  }

  .home h1 {
    font-size: 4em;
  }

  #p1 {
    width: 50%;
    font-size: inherit;
  }

  .home h2 {
    font-size: 2.5em;
  }

  #p2 {
    font-size: larger;
  }

  .home {
    padding-bottom: 3em;
    background-size: cover;
    padding-left: 7em;
  }

  .program-list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 3px;
    margin: 2em 8em;
  }

  .program-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-list ul:hover {
    border: 1px solid white;
  }

  .program-list li {
    padding-bottom: 10px;
    font-weight: 600;
  }

  .program-body {
    text-align: center;
  }

  .program-head {
    font-size: large;
  }

  .program h3 {
    font-size: x-large;
    font-weight: 500;
  }

  hr {
    width: 5%;
  }

  #p1b {
    width: 50%;
    font-size: inherit;
  }

  .article-container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 4em;
    padding: 0 2em;
    margin-bottom: -40px;
  }

  .article-container p {
    font-size: 16px;
  }

  .article-container img {
    height: 90%;
  }

  .sponsors img {
    height: 4em;
  }

  .footer-bottom {
    padding-left: 10em;
  }

  .btn-more {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .artists-box {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 2em;
  }

  img.artist-pic {
    height: 10em;
  }

  .desktop-p {
    display: block;
    color: var(--light-grey);
    font-family: var(--lato);
    border-bottom: 1px solid #d3d3d3;
  }

  footer.desktop-only {
    background-color: var(--dark-grey);
    margin: 0;
    height: 7em;
    padding-top: 2em;
  }

  .wit {
    color: var(--light-grey);
  }

  #mobile1,
  #mobile2 {
    display: none;
  }

  #desktop1 {
    background-color: var(--dark-grey);
    height: 7em;
    padding-top: 2em;
  }

  .button-mob {
    display: none;
  }

  .cont {
    display: flex;
    margin-bottom: 5em;
    margin-top: 3em;
  }
}
